/*---------------------------*\ 
 $HEADER
\*---------------------------*/



#header{
    border-top: 1px solid black;
}

.product{
    position: relative;

}

.product .hover{
    display: none;
}
.product:hover .normal{
    display: none;
}

.product:hover .hover{
    display: block;
}
.new{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-color;
}

.promo  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: $black;
}

.promo i{
    float: right;
}

.product:hover .promo{
    display: block;
}