<ul class="menu">
    <li>
        <a class="padding-bottom-0 padding-left-0" href="#">Login</a>
    </li>
    <li>
        <a class="padding-bottom-0" href="#">
            <i class="fi-shopping-cart"></i>Cart</a>
    </li>
</ul>
<div class="show-for-large">
    <hr>
    <h2 class="h6 margin-bottom-0">
        <strong>Tatuajes falsos por artistas reales
        </strong>
        <small>Enviados con 💚 desde bogota</small>
    </h2>
</div>
<div class="show-for-medium">
    <hr>
    <div class="input-group">
        <input class="input-group-field small search" placeholder="Buscar" type="text"/>
        <div class="input-group-button">
            <input class="button secondary small text-uppercase" type="submit" value="Go!">
        </div>
    </div>
</div>
