<div class="grid-x grid-margin-x grid-margin-y">
    {{#repeat 25}}
    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/resist1.jpg" alt="resist2">
        <img class="hover" src="assets/img/resist_2.jpg" alt="resist2">
        <span class="label promo"> 2x1 <i class="fi-shopping-cart"></i> </span>
    </div>
    {{/repeat}}
</div>
<hr>
<div class="grid-x">
    <div class="cell small-12 medium-2 medium-offset-9 text-uppercase text-right">
        <a class="button" href="">Listar todos</a>
    </div>
</div>